## Termite Styling Program
## Author : Aditya Shakya

[options]

allow_bold = true
audible_bell = true
browser = xdg-open
clickable_url = true
cursor_blink = system
cursor_shape = block
dynamic_title = true
filter_unmatched_urls = true
font =
geometry = 480x280
icon_name = terminal
modify_other_keys = false
mouse_autohide = false
scroll_on_output = false
scroll_on_keystroke = true
scrollback_lines = 15000
size_hints = false
search_wrap = true
urgent_on_bell = true
highlight = #30343e

[colors]

# special
foreground      = #ffffff
foreground_bold = #ffffff
cursor          = #ffffff
background      = #000000

# black
color0  = #101010
color8  = #404040

# red
color1  = #e84f4f
color9  = #d23d3d

# green
color2  = #b8d68c
color10 = #a0cf5d

# yellow
color3  = #e1aa5d
color11 = #f39d21

# blue
color4  = #7dc1cf
color12 = #4e9fb1

# magenta
color5  = #9b64fb
color13 = #8542ff

# cyan
color6  = #6d878d
color14 = #42717b

# white
color7  = #dddddd
color15 = #dddddd
